page-recomended {
        #nav {
          background: #FF8C8C;
        }
        .home {
          background: #FF8C8C;
          clear: both;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        }
}
