page-home {
  #nav {
    background: #FF8C8C;
  }
  .home {
    background: #FF8C8C;
    clear: both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #filmIcon {
    font-size: 30px;
    padding: 10px;
  }
  
  #filmIcon:hover {
    cursor: pointer;
    color: #1C7AFF;
    font-size: 30px;
    padding: 10px;
  }
  
  #mapIcon:hover {
    cursor: pointer;    
    color: #1C7AFF;
    font-size: 30px;
    padding: 10px;
  }
  
  #mapIcon {
    font-size: 30px;
    padding: 10px;
  }
  img {
     
      // width: 100px;
      // height: 100px;
      // max-width: 100px;
      // max-height: 100px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 5px solid rgba(255, 255, 255, 0.5);
  }


}