page-home {
  #nav {
    background: #FF8C8C;
  }
  .home {
    background: #FF8C8C;
    clear: both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #filmIcon {
    font-size: 30px;
    padding: 10px;
  }

 #ticketIcon {
  
  font-size: 30px;
  padding: 10px;
 
 }
  #poster {
    clear: both;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 0%;
  }

  .card {
    width: 50%;
    text-align: center;
    margin-top: 30px;
    margin-left: 30%;
    margin-right: 30%;
  }
  
  #filmIcon:hover {
    cursor: pointer;
    color: #1C7AFF;
    font-size: 30px;
    padding: 10px;
  }
  
  #mapIcon:hover {
    cursor: pointer;    
    color: #1C7AFF;
    font-size: 30px;
    padding: 10px;
  }
  
  #mapIcon {
    font-size: 30px;
    padding: 10px;
  }
  img {
     
      // width: 100px;
      // height: 100px;
      // max-width: 100px;
      // max-height: 100px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 5px solid rgba(255, 255, 255, 0.5);
  }


}