<!--
  Generated template for the SeatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Wybierz miejsce w kinie</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      



      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="sits">
              <div *ngFor="let column of columns"  class="sits-group">
                  <button id="sit-{{column}}-{{row}}" ion-button color="secondary" *ngFor="let row of rows" type="button" class="btn btn-default"
                  [class.selected]="isColorSelected(column, row) || isColorSelected2(column, row)"
                  
                  (click)="onPress(column,row)"> {{ row }} </button>
              </div>
          </div>
          </ion-col>
        </ion-row>
        <!-- <div class="ui-controller"></div> -->
        <ion-label>Wybrałeś {{ isSelectedArray.length }} bilety</ion-label>
        <ion-row>
          <ion-col>
            <button ion-button block color="secondary" (click)="onConfirm()" [disabled]="!isSelectedArray" type="submit">Confirm</button>
          </ion-col>
          <ion-col>
            <button ion-button block color="secondary" (click)="onAbort()" type="submit">Abort</button>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
