page-add-place {
    agm-map {
        height: 250px;
    }

    .place {
        background: #FF8C8C;
        clear: both;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

.btn-default {
    padding: 5px 5px;
    outline: none;
    background-color: white;
    color: #56DA56;
    border-color: #56DA56;
    margin-top: 5px;
    margin-left: 5px;
}

h1 {
    font-family: "Lucida Console", Times, Monospace;
}

.btn-default:focus {
    padding: 5px 5px;
    outline: none;
    color: white;
    background-color: #56DA56;
    border-color: #56DA56;
    margin-top: 5px;
    margin-left: 5px;
}

.btn-default.selected {
    background : #56DA56;
    color: #fff;
  }
  
}
