page-add-place {
    agm-map {
        height: 250px;
    }

    .place {
        background: #FF8C8C;
        clear: both;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
}
