<ion-header>
  
    <ion-navbar>
      <ion-title></ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content class="place" padding>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-list>
        <ion-item>
          <ion-label fixed>Title</ion-label>
          <ion-input type="text" placeholder="" name="title" ngModel required></ion-input>
        </ion-item>
        <!-- <ion-item>
          <ion-label floating>Short description</ion-label>
          <ion-textarea name="description" ngModel required></ion-textarea>
        </ion-item> -->
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
              <button ion-button block type="button" icon-left (click)="onLocate()">
                <ion-icon name="locate"></ion-icon>
                Locate me
              </button>
          </ion-col>
          <ion-col>
            <button ion-button block type="button" icon-left (click)="onOpenMap()">
              <ion-icon name="map"></ion-icon>
              Select Cinema
            </button>            
          </ion-col>
        </ion-row>
        <ion-row *ngIf="locationIsSet">
          <ion-col>
              <agm-map [latitude]="location.lat" [longitude]="location.lng">
                  <agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
              </agm-map>
          </ion-col>
        </ion-row>
        <ion-row>

        </ion-row>
        <ion-row>
            <h1 *ngIf="selectedMovie">Wybrałeś {{ this.selectedMovie.title }}</h1>
          </ion-row>
        <ion-row>
          <ion-col text-center>
            <h5></h5>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button icon-left block type="button" (click)="selectSeat()">
              <ion-icon name="ios-add-outline"></ion-icon> select seat
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img [src]="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="sits"  *ngIf="dimensions">
              <div *ngFor="let column of dimensions.col" class="sits-group">
                  <button id="sit-{{column}}-{{row}}" ion-button *ngFor="let row of dimensions.row" 
                  type="button" class="btn btn-default"
                  [class.selected]="isColorSelected(column, row)"> {{ row }} </button>
              </div>
          </div>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button color="secondary" block type="submit" [disabled]="!(locationIsSet && seatIsSet)">BUY</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
  